{%extends 'base.html'%}
{% load static %}
{%block content%}
<div class="container">
    <div class="add_new_car">
        <h2>Edit Car: {{ car.make }} {{ car.model }}</h2>
        <form action="" method="post" enctype="multipart/form-data" class="custom-form">
            {%csrf_token%}
            {{form.errors}}
            <div class="form-row">
                <div>

                    <div class="form-group">
                        <label>{{ form.make.label }}</label>
                        {{ form.make }}
                    </div>
                    <div class="form-group">
                        <label>{{ form.model.label }}</label>
                        {{ form.model }}
                    </div>
                    <div class="form-group">
                        <label>{{ form.year.label }}</label>
                        {{ form.year }}
                    </div>
                    <div class="form-group">
                        <label>{{ form.car_type.label }}</label>
                        {{ form.car_type }}
                    </div>
                    <div class="form-group">
                        <label>{{ form.color.label }}</label>
                        {{ form.color }}
                    </div>
                    <div class="form-group">
                        <label>{{ form.car_img.label }}</label>
                        {{ form.car_img }}
                    </div>
                </div>

                <div class="">
                    <div class="form-group">
                        <label>{{ form.registration_number.label }}</label>
                        {{ form.registration_number }}
                    </div>
                    <div class="form-group">
                        <label>{{ form.price_per_day.label }}</label>
                        {{ form.price_per_day }}
                    </div>
                    <div class="form-group">
                        <label>{{ form.price_for_week.label }}</label>
                        {{ form.price_for_week }}
                    </div>
                    <div class="form-group">
                        <label>{{ form.mileage_per_liter.label }}</label>
                        {{ form.mileage_per_liter }}
                    </div>
                    <div class="form-group">
                        <label>{{ form.car_discription.label }}</label>
                        {{ form.car_discription }}
                    </div>
                    <div class="form-group">
                        <label>{{ form.is_available.label }}</label>
                        {{ form.is_available }}
                    </div>
                </div>
            </div>
            <button type="submit">Save Changes</button>
            {%endblock%}
        </form>
    </div>
</div>